body {
    background-color: rgb(192, 223, 224);
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #DF9FA0;
    text-shadow: 0 0 4px rgb(27, 6, 6);
    margin-bottom: 15px;
}

.ui-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ui-container button{
    background-color: rgb(215, 235, 235);
    color: #684c4d;
    font-size: large;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgb(27, 6, 6);
    border: 0px;
}

.grid-container{
    background-color: rgb(215, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 704px;
    height: 704px;
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
}



